#button {
  background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 18px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	font-size: 16px;
	text-align: center;
}

#button:hover { background-color: #3d9c40; }

/* Removes padding from the page. */
html, body, #workspace, #blocklyDiv{ padding: 0; margin: 0; height: 100%; width: 100%;}

/* The workspace is a table for easy laying out of elements. */
#workspace { display: table; }

#menu, #codeArea { display: table-row; }

/* Squish the menu */
#codeArea { height: 100%; }