#button {
  background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 18px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	font-size: 16px;
	text-align: center;
}

#button:hover { background-color: #3d9c40; }

/* -------------- Styling for sections -------------- */

/* Removes padding from the page. */
html, body, #workspace, #blocklyDiv{ padding: 0; margin: 0; height: 100%; width: 100%; font-family: 'Abel', Arial;}

/* The workspace is a table for easy laying out of elements. */
#workspace { display: table; }

#menu, #codeArea { display: table-row; }

/* --------------- Styling for menu bar at the top -------------- */

#languageIcon { background: url(Icons/Nav.svg) 0px 0px; right: 90px;}

#tutorialIcon { background: url(Icons/Nav.svg) -45px 0px; right: 45px;}

#languageIcon, #tutorialIcon {
	width: 45px;
	height: 45px;
	display: inline-block;
	margin-left: 25px;
}

#menu {
	height: 48px;
}
#menu a{
	display: inline-block;
	height: 48px;
}
#menu img {
	height: 48px;
	display: inline-block;
}

/* Squish the menu */
#codeArea { height: 100%; }

/* -------------- Styling for new variable / new list popup  -------------- */

.popup {
	width: 360px;
	height: 380px;
	
	position: absolute;
	
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	padding: 5px;
	
	margin: auto;
	
	z-index: 200;
	
	background-color: rgba(0, 216, 214,1.0);
	
	border-style: solid;
	border-radius: 5px;
	border-width: 3px;
	border-color: rgba(30, 39, 46,1.0);
	
	color: rgba(30, 39, 46,1.0);
	
	animation:animatezoom 0.6s
	
}

.popup h1{
	font-size: 30px;
	text-align: center;
}

@keyframes animatezoom{
	from{transform:scale(0)}
	to{transform:scale(1)}
}

.mask {
	position: absolute;
	
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:rgba(30, 39, 46,.3);
	
	z-index: 199;
	
	animation:animatefade 0.6s
}

@keyframes animatefade{
	from{opacity: 0;}
	to{opacity: 1;}
}

#icon {
	margin-top: 10px;
	margin-left: 5px;
}
